@font-face{
    src : url("assets/fonts/FontsFree-Net-ir_sans.ttf");
    font-family : "IranSans";
}
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : "IranSans";
}
a{
    text-decoration : none;
}
body{
    width : 100%;
    padding-top : 20px;
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    align-items : center;
}
header{
    width : 90%;
    display : flex;
    flex-direction : row;
    justify-content : flex-start;
}
main{
    width : 90%;
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    align-items : center;
}
.article-login{
    width : 100%;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : flex-start;
    align-items: flex-start;

}
.div-baner{
    position : relative;
    width : 72.7%;
    background-color : #5B5BFF;
    height : 220px;
    display : flex;
    flex-direction : row-reverse;
    flex-wrap : wrap;
    justify-content : center;
    align-content : center;
}
.div-baner p{
    width : 100%;
    padding : 0 30px;
    color : white;
    font-size : 13px;
    text-align : center;
}
.div-baner button{
    border : none;
    color : white;
    background-color :#0101AA;
    padding : 5px 10.5px;
    font-size : 12px;
    cursor : pointer;
    position : absolute;
    bottom : 30px;

}
.div-form{
    position : relative;
    width : 27.3%;
    background-color : #F0F0F0;
    height : 220px;
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    align-items : center;
}
.div-form input{
    width : 90%;
    direction : rtl;
    height : 35px;
    border : 1px solid #D3D3D3;
    background-color : white;
    outline : none;
    margin-top : 10px;
    padding : 0 10px;
    text-align : center;
    font-size : 12px;
}
.div-form input::placeholder{
    font-size : 12px;
}
.div-form button{
    border : none;
    background-color : #4444FF;
    color : white;
    width : 90%;
    height : 35px;
    font-size : 11px;
    margin-top : 10px;
    cursor : pointer;
}
.div-form a{
    color : #551A8B;
    font-size : 12px;
    position : absolute;
    bottom : 31px;
}
.div-form a:active{
    color : red;
}
.div-title{
    width : 100%;
    margin-top : 20px;
    margin-bottom : 25px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
.div-title p{
    color :#0024FF;
    width : 150px !important;
    text-align : center;
    width : 12.2%;
    font-size : 14px;
}
.div-title hr{
    flex-grow : 1;
}
.article-blogs{
    width : 100%;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-evenly;
    align-items : center;
}
.article-blogs section.blog{
    direction : rtl;
    width : 300px;
    height : 180px;
    margin-bottom : 10px;
    padding : 12px 10px;
    background-color : #E9E9E9;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
}
.article-blogs section.blog p:first-child{
    color : #442CFB;
    font-size : 12px;
    margin : 0 10px;
    margin-top : 7px;
    margin-bottom : 10px;
}
.article-blogs section.blog a{
    color : gray;
    margin : 0 10px !important;
}
.article-blogs section.blog p:last-child{
    margin : 0 10px;
    margin-top : 10px;
    font-size : 12px;
}
footer{
    width : 54%;
    margin: 25px 0;
    margin-bottom : 30px;
    display : flex;
    flex-direction : row-reverse;
    flex-wrap : wrap;
    justify-content : space-between;
    align-items : center;
}
footer a{
    font-size : 12px;
    color :#5070F8;
}
@media screen and (max-width : 900px){
    .div-baner{
        width : 100%;
    }
    .div-form{
        width : 100%;
    }
    header{
        display : none;
    }
    footer{
        display : none;
    }
}
@media screen and (max-width:400px)
{
    .div-baner button{
        position : absolute;
        bottom : 20px;
    }
}
@media screen and (max-width : 320px)
{
    .article-blogs section.blog{
        height : 200px;
    }
}